<a href="https://colab.research.google.com/github/soumfatim/GMM-Group-Project/blob/main/Copy_of_TF_IDF_from_Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TF-IDF from Scratch

In [7]:
import pandas as pd
import sklearn as sk
import math
import nltk
from nltk.corpus import stopwords

In [10]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [16]:
set(stopwords.words('english'))

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [48]:
def computeTF(wordDict, doc):
    """
        tf(t,d) = log(1+f(t,d))
        f(t,d)=count of t in d / number of words in d

    :param wordDict:
    :param doc:
    :return:
    """
    tfDict = {}
    corpusCount = len(doc)
    for word, count in wordDict.items():
        tfDict[word] = math.log(1+count/float(corpusCount))
    return(tfDict)

# def computeIDF(docList):
#     """
#         idf(t) = log(N/(df + 1))
#     :param docList:
#     :return:
#     """
#     idfDict = {}
#     N = len(docList)

#     idfDict = dict.fromkeys(docList[0].keys(), 0)
#     for word, val in idfDict.items():
#         idfDict[word] = math.log10(N / (float(val) + 1))

#     return (idfDict)
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

def computeTFIDF(tfBow, idfs):
    """
    tf-idf(t, d) = tf(t, d) * log(N/(df + 1))
    :param tfBow:
    :param idfs:
    :return:
    """
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return(tfidf)

In [49]:
sentence1 = "Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
sentence2 = "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [50]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [51]:
#split so each word have their own string
sentence1_list = nltk.word_tokenize(sentence1)
sentence2_list = nltk.word_tokenize(sentence2)
total= set(sentence1_list).union(set(sentence2_list))
print (total)

{'got', 'final', 'a', 'n', 'e', 'Go', 'jurong', '2', 'wat', 'bugis', 'amore', 'Text', 'FA', 'C', 'entry', 'great', '08452810075over18', 'to', '.', 'std', 'until', 'Free', 'rate', 'May', 'Available', 'receive', 'comp', 'la', 'there', 'tkts', 'crazy..', ',', '...', 'T', 'Cup', '&', '87121', 'point', "'s", '21st', 'buffet', 'wkly', 'win', 'Cine', 'txt', 'only', ')', 'world', '2005', 'question', '(', 'apply', 'in'}

In [52]:
def create_word_dict(total, sentence):
    wordDict = dict.fromkeys(total, 0)
    for word in sentence:
        wordDict[word] += 1
    return wordDict

wordDictA = create_word_dict(total,sentence1_list)
wordDictB = create_word_dict(total,sentence2_list)

print (wordDictA)
print()
print (wordDictB)

{'got': 1, 'final': 0, 'a': 0, 'n': 1, 'e': 1, 'Go': 1, 'jurong': 1, '2': 0, 'wat': 1, 'bugis': 1, 'amore': 1, 'Text': 0, 'FA': 0, 'C': 0, 'entry': 0, 'great': 1, '08452810075over18': 0, 'to': 0, '.': 0, 'std': 0, 'until': 1, 'Free': 0, 'rate': 0, 'May': 0, 'Available': 1, 'receive': 0, 'comp': 0, 'la': 1, 'there': 1, 'tkts': 0, 'crazy..': 1, ',': 1, '...': 2, 'T': 0, 'Cup': 0, '&': 0, '87121': 0, 'point': 1, "'s": 0, '21st': 0, 'buffet': 1, 'wkly': 0, 'win': 0, 'Cine': 1, 'txt': 0, 'only': 1, ')': 0, 'world': 1, '2005': 0, 'question': 0, '(': 0, 'apply': 0, 'in': 1}

{'got': 0, 'final': 1, 'a': 1, 'n': 0, 'e': 0, 'Go': 0, 'jurong': 0, '2': 1, 'wat': 0, 'bugis': 0, 'amore': 0, 'Text': 1, 'FA': 2, 'C': 1, 'entry': 2, 'great': 0, '08452810075over18': 1, 'to': 3, '.': 1, 'std': 1, 'until': 0, 'Free': 1, 'rate': 1, 'May': 1, 'Available': 0, 'receive': 1, 'comp': 1, 'la': 0, 'there': 0, 'tkts': 1, 'crazy..': 0, ',': 0, '...': 0, 'T': 1, 'Cup': 1, '&': 1, '87121': 1, 'point': 0, "'s": 2, '21st': 1, 'buffet': 0, 'wkly': 1, 'win': 1, 'Cine': 0, 'txt': 1, 'only': 0, ')': 1, 'world': 0, '2005': 1, 'question': 1, '(': 1, 'apply': 1, 'in': 1}

# Term Freq

In [53]:
tfFirst = computeTF(wordDictA, sentence1_list)
tfSecond = computeTF(wordDictB, sentence2_list)
print ("TERM FREQUENCY OF SENTENCE1:\n",tfFirst)
print()
print ("TERM FREQUENCY OF SENTENCE2:\n",tfSecond)

TERM FREQUENCY OF SENTENCE1:
 {'got': 0.0425596144187959, 'final': 0.0, 'a': 0.0, 'n': 0.0425596144187959, 'e': 0.0425596144187959, 'Go': 0.0425596144187959, 'jurong': 0.0425596144187959, '2': 0.0, 'wat': 0.0425596144187959, 'bugis': 0.0425596144187959, 'amore': 0.0425596144187959, 'Text': 0.0, 'FA': 0.0, 'C': 0.0, 'entry': 0.0, 'great': 0.0425596144187959, '08452810075over18': 0.0, 'to': 0.0, '.': 0.0, 'std': 0.0, 'until': 0.0425596144187959, 'Free': 0.0, 'rate': 0.0, 'May': 0.0, 'Available': 0.0425596144187959, 'receive': 0.0, 'comp': 0.0, 'la': 0.0425596144187959, 'there': 0.0425596144187959, 'tkts': 0.0, 'crazy..': 0.0425596144187959, ',': 0.0425596144187959, '...': 0.083381608939051, 'T': 0.0, 'Cup': 0.0, '&': 0.0, '87121': 0.0, 'point': 0.0425596144187959, "'s": 0.0, '21st': 0.0, 'buffet': 0.0425596144187959, 'wkly': 0.0, 'win': 0.0, 'Cine': 0.0425596144187959, 'txt': 0.0, 'only': 0.0425596144187959, ')': 0.0, 'world': 0.0425596144187959, '2005': 0.0, 'question': 0.0, '(': 0.0, 'apply': 0.0, 'in': 0.0425596144187959}

TERM FREQUENCY OF SENTENCE2:
 {'got': 0.0, 'final': 0.026668247082161273, 'a': 0.026668247082161273, 'n': 0.0, 'e': 0.0, 'Go': 0.0, 'jurong': 0.0, '2': 0.026668247082161273, 'wat': 0.0, 'bugis': 0.0, 'amore': 0.0, 'Text': 0.026668247082161273, 'FA': 0.05264373348542188, 'C': 0.026668247082161273, 'entry': 0.05264373348542188, 'great': 0.0, '08452810075over18': 0.026668247082161273, 'to': 0.07796154146971192, '.': 0.026668247082161273, 'std': 0.026668247082161273, 'until': 0.0, 'Free': 0.026668247082161273, 'rate': 0.026668247082161273, 'May': 0.026668247082161273, 'Available': 0.0, 'receive': 0.026668247082161273, 'comp': 0.026668247082161273, 'la': 0.0, 'there': 0.0, 'tkts': 0.026668247082161273, 'crazy..': 0.0, ',': 0.0, '...': 0.0, 'T': 0.026668247082161273, 'Cup': 0.026668247082161273, '&': 0.026668247082161273, '87121': 0.026668247082161273, 'point': 0.0, "'s": 0.05264373348542188, '21st': 0.026668247082161273, 'buffet': 0.0, 'wkly': 0.026668247082161273, 'win': 0.026668247082161273, 'Cine': 0.0, 'txt': 0.026668247082161273, 'only': 0.0, ')': 0.026668247082161273, 'world': 0.0, '2005': 0.026668247082161273, 'question': 0.026668247082161273, '(': 0.026668247082161273, 'apply': 0.026668247082161273, 'in': 0.026668247082161273}

# IDF

In [54]:
idfs = computeIDF([wordDictA, wordDictB])

idfs

{'&': 0.3010299956639812,
 "'s": 0.3010299956639812,
 '(': 0.3010299956639812,
 ')': 0.3010299956639812,
 ',': 0.3010299956639812,
 '.': 0.3010299956639812,
 '...': 0.3010299956639812,
 '08452810075over18': 0.3010299956639812,
 '2': 0.3010299956639812,
 '2005': 0.3010299956639812,
 '21st': 0.3010299956639812,
 '87121': 0.3010299956639812,
 'Available': 0.3010299956639812,
 'C': 0.3010299956639812,
 'Cine': 0.3010299956639812,
 'Cup': 0.3010299956639812,
 'FA': 0.3010299956639812,
 'Free': 0.3010299956639812,
 'Go': 0.3010299956639812,
 'May': 0.3010299956639812,
 'T': 0.3010299956639812,
 'Text': 0.3010299956639812,
 'a': 0.3010299956639812,
 'amore': 0.3010299956639812,
 'apply': 0.3010299956639812,
 'buffet': 0.3010299956639812,
 'bugis': 0.3010299956639812,
 'comp': 0.3010299956639812,
 'crazy..': 0.3010299956639812,
 'e': 0.3010299956639812,
 'entry': 0.3010299956639812,
 'final': 0.3010299956639812,
 'got': 0.3010299956639812,
 'great': 0.3010299956639812,
 'in': 0.0,
 'jurong': 0.3010299956639812,
 'la': 0.3010299956639812,
 'n': 0.3010299956639812,
 'only': 0.3010299956639812,
 'point': 0.3010299956639812,
 'question': 0.3010299956639812,
 'rate': 0.3010299956639812,
 'receive': 0.3010299956639812,
 'std': 0.3010299956639812,
 'there': 0.3010299956639812,
 'tkts': 0.3010299956639812,
 'to': 0.3010299956639812,
 'txt': 0.3010299956639812,
 'until': 0.3010299956639812,
 'wat': 0.3010299956639812,
 'win': 0.3010299956639812,
 'wkly': 0.3010299956639812,
 'world': 0.3010299956639812}

# TDIDF

In [55]:
#running our two sentences through the IDF:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)
print (idfFirst)
print()
print (idfSecond)

{'got': 0.012811720543950843, 'final': 0.0, 'a': 0.0, 'n': 0.012811720543950843, 'e': 0.012811720543950843, 'Go': 0.012811720543950843, 'jurong': 0.012811720543950843, '2': 0.0, 'wat': 0.012811720543950843, 'bugis': 0.012811720543950843, 'amore': 0.012811720543950843, 'Text': 0.0, 'FA': 0.0, 'C': 0.0, 'entry': 0.0, 'great': 0.012811720543950843, '08452810075over18': 0.0, 'to': 0.0, '.': 0.0, 'std': 0.0, 'until': 0.012811720543950843, 'Free': 0.0, 'rate': 0.0, 'May': 0.0, 'Available': 0.012811720543950843, 'receive': 0.0, 'comp': 0.0, 'la': 0.012811720543950843, 'there': 0.012811720543950843, 'tkts': 0.0, 'crazy..': 0.012811720543950843, ',': 0.012811720543950843, '...': 0.025100365377378298, 'T': 0.0, 'Cup': 0.0, '&': 0.0, '87121': 0.0, 'point': 0.012811720543950843, "'s": 0.0, '21st': 0.0, 'buffet': 0.012811720543950843, 'wkly': 0.0, 'win': 0.0, 'Cine': 0.012811720543950843, 'txt': 0.0, 'only': 0.012811720543950843, ')': 0.0, 'world': 0.012811720543950843, '2005': 0.0, 'question': 0.0, '(': 0.0, 'apply': 0.0, 'in': 0.0}

{'got': 0.0, 'final': 0.008027942303508987, 'a': 0.008027942303508987, 'n': 0.0, 'e': 0.0, 'Go': 0.0, 'jurong': 0.0, '2': 0.008027942303508987, 'wat': 0.0, 'bugis': 0.0, 'amore': 0.0, 'Text': 0.008027942303508987, 'FA': 0.01584734286285233, 'C': 0.008027942303508987, 'entry': 0.01584734286285233, 'great': 0.0, '08452810075over18': 0.008027942303508987, 'to': 0.023468762490584667, '.': 0.008027942303508987, 'std': 0.008027942303508987, 'until': 0.0, 'Free': 0.008027942303508987, 'rate': 0.008027942303508987, 'May': 0.008027942303508987, 'Available': 0.0, 'receive': 0.008027942303508987, 'comp': 0.008027942303508987, 'la': 0.0, 'there': 0.0, 'tkts': 0.008027942303508987, 'crazy..': 0.0, ',': 0.0, '...': 0.0, 'T': 0.008027942303508987, 'Cup': 0.008027942303508987, '&': 0.008027942303508987, '87121': 0.008027942303508987, 'point': 0.0, "'s": 0.01584734286285233, '21st': 0.008027942303508987, 'buffet': 0.0, 'wkly': 0.008027942303508987, 'win': 0.008027942303508987, 'Cine': 0.0, 'txt': 0.008027942303508987, 'only': 0.0, ')': 0.008027942303508987, 'world': 0.0, '2005': 0.008027942303508987, 'question': 0.008027942303508987, '(': 0.008027942303508987, 'apply': 0.008027942303508987, 'in': 0.0}

In [56]:

#putting it in a dataframe
idf = pd.DataFrame([idfFirst, idfSecond])
idf.head()

,got,final,a,n,e,Go,jurong,2,wat,bugis,...,Cine,txt,only,),world,2005,question,(,apply,in
0,0.012812,0.000000,0.000000,0.012812,0.012812,0.012812,0.012812,0.000000,0.012812,0.012812,...,0.012812,0.000000,0.012812,0.000000,0.012812,0.000000,0.000000,0.000000,0.000000,0.0
1,0.000000,0.008028,0.008028,0.000000,0.000000,0.000000,0.000000,0.008028,0.000000,0.000000,...,0.000000,0.008028,0.000000,0.008028,0.000000,0.008028,0.008028,0.008028,0.008028,0.0